PORT=4000
MONGO_URI=mongodb+srv://USUARIO:CONTRASEÑA@cluster0.j2rea4d.mongodb.net/NOMBRE_DB?retrywrites=true&w=majority&appName=Cluster0

# Mi proveedor wifi no soporta srv por lo tanto la uri se modificó a la uri sin srv. Ahora funciona correctamente.